# Konfigurasi Koneksi ke AI Microservice (Hugging Face)
# Contoh URL: https://hilman1237050020-mindtrackhealth.hf.space
AI_API_URL=https://hilman1237050020-mindtrackhealth.hf.space

# Kunci Rahasia untuk Autentikasi (Opsional, sudah ada fallback di code)
JWT_SECRET=mindtrack-super-secret-key-2026
